.App {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.count {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 24px;
}

.container {
	margin: 100px auto 0px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.btn {
	/* transform: translate(-50%, -50%); */
	width: 200px;
	height: 50px;

	border: none;
	border-radius: 50px;
	background-color: #f0f0f3;
	box-shadow: 5px 5px 17px #d3d3d6, -5px -5px 17px #fff;

	cursor: pointer;
}
